.tab1_L
{
    width:195px;
    height:215px;
    background-color:#f4bd8f;
    padding:5px 5px;
}
.tab1_R
{
    /*
    width:95px;
    height:100px;
    background-color:#fde0be;
    padding:5px 5px;
    */
}
.tab2_L
{
    width:195px;
    height:215px;
    background-color:#978074;
    padding:5px 5px;
}
.tab2_R
{
    /*
    width:95px;
    height:100px;
    background-color:#c0c0c0;
    padding:5px 5px;
    */
}
.tab3_L
{
    width:195px;
    height:215px;
    background-color:#83cb8e;
    padding:5px 5px;
}
.tab3_R
{
    /*
    width:95px;
    height:100px;
    background-color:#d3ecd6;
    padding:5px 5px;
    */
}
.tab4_L
{
    width:195px;
    height:215px;
    background-color:#b4a6bf;
    padding:5px 5px;
}
.tab4_R
{
    /*
    width:95px;
    height:100px;
    background-color:#e5dfe9;
    padding:5px 5px;
    */
}
.tab5_L
{
    width:195px;
    height:215px;
    background-color:#a9d0fb;
    padding:5px 5px;
}
.tab5_R
{
    /*
    width:95px;
    height:100px;
    background-color:#e1eefe;
    padding:5px 5px;
    */
}
.tab6_L
{
    width:195px;
    height:215px;
    background-color:#e59eca;
    padding:5px 5px;
}
.tab6_R
{
    /*
    width:95px;
    height:100px;
    background-color:#f4dcec;
    padding:5px 5px;
    */
}
.tab7_L
{
    width:195px;
    height:215px;
    background-color:#f19d9f;
    padding:5px 5px;
}
.tab7_R
{
    /*
    width:95px;
    height:100px;
    background-color:#fadcdc;
    padding:5px 5px;
    */
}
.tab8_L
{
    width:195px;
    height:215px;
    background-color:#fdf14e;
    padding:5px 5px;
}
.tab8_R
{
    /*
    width:95px;
    height:100px;
    background-color:#fffac0;
    padding:5px 5px;
    */
}
.tab9_L
{
    width:195px;
    height:215px;
    background-color:#51c0c0;
    padding:5px 5px;
}
.tab9_R
{
    /*
    width:95px;
    height:100px;
    background-color:#c0e8e8;
    padding:5px 5px;
    */
}
.tab10_L
{
    width:195px;
    height:215px;
    background-color:#aba991;
    padding:5px 5px;
}
.tab10_R
{
    /*
    width:95px;
    height:100px;
    background-color:#e0e0d6;
    padding:5px 5px;
    */
}
.tab11_L
{
    width:195px;
    height:215px;
    background-color:#f9a94c;
    padding:5px 5px;
}
.tab11_R
{
    /*
    width:95px;
    height:100px;
    background-color:#fde0be;
    padding:5px 5px;
    */
}
.tab12_L
{
    width:195px;
    height:215px;
    background-color:#9ebe38;
    padding:5px 5px;
}
.tab12_R
{
    /*
    width:95px;
    height:100px;
    background-color:#dce8b8;
    padding:5px 5px;
    */
}