.all
{
    width:960px;
    margin:5px auto;
}
.all .banner
{
    border:1px solid #000;
    margin-bottom:5px;
    background-repeat:no-repeat;
}
.all .banner .banner_up
{
    text-align:right;
    margin-bottom:5px;
}
.all .banner .banner_up A:link, .all .banner .banner_up A:visited
{
    text-decoration: none;
    font-family:標楷體;
    font-size:12pt;
    font-weight:bolder;
    color:Maroon;
}
.all .banner .banner_center
{
    margin-bottom:5px;
    text-align:center;
}
.all .banner .banner_down
{
    text-align:right;
}
.all .nav
{
    margin-bottom:25px;
}
.all .main
{
    margin-bottom:5px;
}
.all .main .m1
{
    margin-bottom:5px;
}
.all .main .m1 .m1_left
{
    width:195px;
    margin-right:5px;
    float:left;
}
.all .main .m1 .m1_left .m1_left_U
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m1 .m1_left .m1_left_D
{
}
.all .main .m1 .m1_right
{
    width:755px;
    float:right;
}
.all .main .m1 .m1_right .m1_right_L
{
    float:left;
    margin-right:5px;
}
.all .main .m1 .m1_right .m1_right_L .m1_right_L_U
{
    height:100px;
    margin-bottom:5px;
}
.all .main .m1 .m1_right .m1_right_L .m1_right_L_U .m1_right_L_U_L
{
    border:1px solid #000;
    width:207px;
    float:left;
    margin-right:5px;
}
.all .main .m1 .m1_right .m1_right_L .m1_right_L_U .m1_right_L_U_R
{
    border:1px solid #000;
    width:175px;
    float:right;
}
.all .main .m1 .m1_right .m1_right_L .m1_right_L_D
{
    height:30px;
}
.all .main .m1 .m1_right .m1_right_L .m1_right_L_D .m1_right_L_D_L
{
    border:1px solid #000;
    width:265px;
    float:left;
    margin-right:5px;
}
.all .main .m1 .m1_right .m1_right_L .m1_right_L_D .m1_right_L_D_R
{
    border:1px solid #000;
    width:265px;
    float:right;
}
.all .main .m1 .m1_right .m1_right_R
{
    width:195px;
    float:right;
}
.all .main .m1 .m1_right .m1_right_R .m1_right_R_U
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m1 .m1_right .m1_right_R .m1_right_R_D
{
    border:1px solid #000;
}
.all .main .advertising1
{
    margin-top:5px;
    border:1px solid #000;
    margin-bottom:5px;
    clear:both;
}
.all .main .advertising1 .advertising1_L
{
    width:195px;
    float:left;
}
.all .main .advertising1 .advertising1_R
{
    width:755px;
    float:right;
}
.all .main .m2
{
    height:50px;
    margin-bottom:5px;
    clear:both;
}
.all .main .m2 .m2_left
{
    float:left;
    width:195px;
    margin-right:5px;
}
.all .main .m2 .m2_left .m2_left_U
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m2 .m2_left .m2_left_D
{
    border:1px solid #000;
}
.all .main .m2 .m2_right
{
    width:755px;
    float:right;
}
.all .main .m2 .m2_right .m2_right_L
{
    border:1px solid #000;
    width:300px;
    float:left;
}
.all .main .m2 .m2_right .m2_right_R
{
    width:195px;
    float:right;
}
.all .main .m2 .m2_right .m2_right_R .m2_right_R_U
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m2 .m2_right .m2_right_R .m2_right_R_D
{
    border:1px solid #000;
}
.all .main .curatorRecommended
{
    margin-bottom:5px;
    clear:both;
    border:1px solid #000;
}
.all .main .curatorRecommended .CR_title
{
    margin-bottom:5px;
}
.all .main .curatorRecommended .CR_main
{
}
.all .main .curatorRecommended .CR_main .CR_main_left
{
    float:left;
    margin-right:5px;
}
.all .main .curatorRecommended .CR_main .CR_main_left .CR_main_left_L
{
    width:185px;
    float:left;
}
.all .main .curatorRecommended .CR_main .CR_main_left .CR_main_left_R
{
    width:185px;
    float:right;
}
.all .main .curatorRecommended .CR_main .CR_main_right
{
    width:575px;
    float:right;
}
.all .main .curatorRecommended .CR_main .CR_main_right .CR_main_right_L
{
    float:left;
}
.all .main .curatorRecommended .CR_main .CR_main_right .CR_main_right_L .CR_main_right_L_L
{
    width:185px;
    float:left;
    margin-right:5px;
}
.all .main .curatorRecommended .CR_main .CR_main_right .CR_main_right_L .CR_main_right_L_R
{
    width:185px;
    float:right;
}
.all .main .curatorRecommended .CR_main .CR_main_right .CR_main_right_R
{
    width:185px;
    float:right;
}
.all .main .hotIssues
{
    border:1px solid #000;
    clear:both;
    margin-bottom:5px;
}
.all .main .hotIssues .HI_title
{
    margin-bottom:5px;
}
.all .main .hotIssues .HI_main
{
}
.all .main .VIP
{
    clear:both;
    margin-bottom:5px;
}
.all .main .VIP .VIP_title
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .VIP .VIP_title .VIP_title_left
{
    width:475px;
    float:left;
}
.all .main .VIP .VIP_title .VIP_title_right
{
    width:475px;
    float:right;
}
.all .main .VIP .VIP_main
{
    border:1px solid #000;
    clear:both;
}
.all .main .VIP .VIP_main .VIP_main_m1
{
    clear:both;
    margin-bottom:5px;
}
.all .main .VIP .VIP_main .VIP_main_m1 .VIP_main_m1_L
{
    width:310px;
    float:left;
}
.all .main .VIP .VIP_main .VIP_main_m1 .VIP_main_m1_R
{
    width:635px;
    float:right;
}
.all .main .VIP .VIP_main .VIP_main_m1 .VIP_main_m1_R .VIP_main_m1_R_L
{
    width:310px;
    float:left;
}
.all .main .VIP .VIP_main .VIP_main_m1 .VIP_main_m1_R .VIP_main_m1_R_R
{
    width:310px;
    float:right;
}
.all .main .VIP .VIP_main .VIP_main_m2
{
    clear:both;
    margin-bottom:5px;
}
.all .main .VIP .VIP_main .VIP_main_m2 .VIP_main_m2_L
{
    width:310px;
    float:left;
}
.all .main .VIP .VIP_main .VIP_main_m2 .VIP_main_m2_R
{
    width:635px;
    float:right;
}
.all .main .VIP .VIP_main .VIP_main_m2 .VIP_main_m2_R .VIP_main_m2_R_L
{
    width:310px;
    float:left;
}
.all .main .VIP .VIP_main .VIP_main_m2 .VIP_main_m2_R .VIP_main_m2_R_R
{
    width:310px;
    float:right;
}
.all .main .VIP .VIP_main .VIP_main_m3
{
    clear:both;
    margin-bottom:5px;
}
.all .main .VIP .VIP_main .VIP_main_m3 .VIP_main_m3_L
{
    width:310px;
    float:left;
}
.all .main .VIP .VIP_main .VIP_main_m3 .VIP_main_m3_R
{
    width:635px;
    float:right;
}
.all .main .VIP .VIP_main .VIP_main_m3 .VIP_main_m3_R .VIP_main_m3_R_L
{
    width:310px;
    float:left;
}
.all .main .VIP .VIP_main .VIP_main_m3 .VIP_main_m3_R .VIP_main_m3_R_R
{
    width:310px;
    float:right;
}
.all .main .VIP .VIP_main .VIP_main_m4
{
    clear:both;
}
.all .main .VIP .VIP_main .VIP_main_m4 .VIP_main_m4_L
{
    width:310px;
    float:left;
}
.all .main .VIP .VIP_main .VIP_main_m4 .VIP_main_m4_R
{
    width:635px;
    float:right;
}
.all .main .VIP .VIP_main .VIP_main_m4 .VIP_main_m4_R .VIP_main_m4_R_L
{
    width:310px;
    float:left;
}
.all .main .VIP .VIP_main .VIP_main_m4 .VIP_main_m4_R .VIP_main_m4_R_R
{
    width:310px;
    float:right;
}
.all .main .advertising2
{
    border:1px solid #000;
    clear:both;
    margin-bottom:5px;
}
.all .main .top_Board
{
    border:1px solid #000;
    clear:both;
    margin-bottom:5px;
}
.all .main .top_Board .TB_photo
{
}
.all .main .top_Board .TB_photo .TB_2pic
{
    float:left;
}
.all .main .top_Board .TB_photo .TB_2pic .TB_2pic_left
{
    width:130px;
    float:left;
    margin-right:10px;
}
.all .main .top_Board .TB_photo .TB_2pic .TB_2pic_right
{
    width:130px;
    float:right;
}
.all .main .top_Board .TB_photo .TB_5pic
{
    width:680px;
    float:right;
}
.all .main .top_Board .TB_photo .TB_5pic .TB_5pic_2
{
    float:left;
}
.all .main .top_Board .TB_photo .TB_5pic .TB_5pic_2 .TB_5pic_2_left
{
    width:130px;
    float:left;
    margin-right:10px;
}
.all .main .top_Board .TB_photo .TB_5pic .TB_5pic_2 .TB_5pic_2_right
{
    width:130px;
    float:right;
}
.all .main .top_Board .TB_photo .TB_5pic .TB_5pic_3
{
    width:400px;
    float:right;
}
.all .main .top_Board .TB_photo .TB_5pic .TB_5pic_3 .TB_5pic_3_2
{
    float:left;
}
.all .main .top_Board .TB_photo .TB_5pic .TB_5pic_3 .TB_5pic_3_2 .TB_5pic_3_2_left
{
    width:130px;
    float:left;
    margin-right:5px;
}
.all .main .top_Board .TB_photo .TB_5pic .TB_5pic_3 .TB_5pic_3_2 .TB_5pic_3_2_right
{
    width:130px;
    float:right;
}
.all .main .top_Board .TB_photo .TB_5pic .TB_5pic_3 .TB_5pic_3_1
{
    width:130px;
    float:right;
}
.all .main .top_Board .TB_text
{
    clear:both;
}
.all .main .top_Board .TB_text .TB_2text
{
    float:left;
}
.all .main .top_Board .TB_text .TB_2text .TB_2text_left
{
    width:130px;
    float:left;
    margin-right:10px;
}
.all .main .top_Board .TB_text .TB_2text .TB_2text_right
{
    width:130px;
    float:right;
}
.all .main .top_Board .TB_text .TB_5text
{
    width:680px;
    float:right;
}
.all .main .top_Board .TB_text .TB_5text .TB_5text_2
{
    float:left;
}
.all .main .top_Board .TB_text .TB_5text .TB_5text_2 .TB_5text_2_left
{
    width:130px;
    float:left;
    margin-right:10px;
}
.all .main .top_Board .TB_text .TB_5text .TB_5text_2 .TB_5text_2_right
{
    width:130px;
    float:right;
}
.all .main .top_Board .TB_text .TB_5text .TB_5text_3
{
    width:400px;
    float:right;
}
.all .main .top_Board .TB_text .TB_5text .TB_5text_3 .TB_5text_3_2
{
    float:left;
}
.all .main .top_Board .TB_text .TB_5text .TB_5text_3 .TB_5text_3_2 .TB_5text_3_2_left
{
    width:130px;
    float:left;
    margin-right:5px;
}
.all .main .top_Board .TB_text .TB_5text .TB_5text_3 .TB_5text_3_2 .TB_5text_3_2_right
{
    width:130px;
    float:right;
}
.all .main .top_Board .TB_text .TB_5text .TB_5text_3 .TB_5text_3_1
{
    width:130px;
    float:right;
}
.all .main .m3
{
    
    margin-bottom:5px;
    clear:both;
}
.all .main .m3 .m3_Popularbrands
{
    border:1px solid #000;
    float:left;
    width:195px;
}
.all .main .m3 .m3_right
{
    float:right;
}
.all .main .m3 .m3_right .m3_right_L
{
    margin-right:10px;
    width:550px;
    float:left;
}
.all .main .m3 .m3_right .m3_right_L .m3_right_L_Webmaster
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m3 .m3_right .m3_right_L .m3_right_L_New
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m3 .m3_right .m3_right_L .m3_right_L_Member
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m3 .m3_right .m3_right_R
{
    width:195px;
    float:right;
}
.all .main .m3 .m3_right .m3_right_R .m3_right_R_Exclusive
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m3 .m3_right .m3_right_R .m3_right_R_Bank
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .advertising3
{
    border:1px solid #000;
    clear:both;
    margin-bottom:5px;
}
.all .main .m4
{
    border:1px solid #000;
    clear:both;
    margin:5px;
}
.all .main .m4 .m4_left
{
    width:195px;
    float:left;
}
.all .main .m4 .m4_right
{
    width:195px;
    float:right;
}
.all .main .m4 .m4_center
{
    width:560px;
}
.all .main .m5
{
    clear:both;
    margin-bottom:5px;
}
.all .main .m5 .m5_left
{
    float:left;
    width:475px;
}
.all .main .m5 .m5_left .m5_left_U
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m5 .m5_left .m5_left_D
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m5 .m5_right
{
    float:right;
    width:475px;
}
.all .main .m5 .m5_right .m5_right_U
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .m5 .m5_right .m5_right_D
{
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .advertising4
{
    clear:both;
    border:1px solid #000;
    margin-bottom:5px;
}
.all .main .advertising5
{
    border:1px solid #000;
    clear:both;
    margin-bottom:5px;
}
.littleMon
{
    text-align:center;
    color:White;
}